{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'blog/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Meu Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link active"  href="{% url 'index' %}">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    <header class="py-5 bg-dark text-white" style="background-image: url('{% static 'blog/img/header-bg.jpg' %}'); background-size: cover; background-position: center;">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder">{{ blog.titulo }}</h1>
          <p class="lead mb-0">{{ blog.subtitulo }}</p>
        </div>
      </div>
    </header>
    <br>
    <br>
    <!-- Conteúdo principal -->
    
    <div class="container">
      <div class="row">
        <!-- Coluna de postagens -->
        <div class="col-lg-8">
          {% for post in postagens %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ post.titulo }}</h2>
              <h4 class="card-subtitle mb-2 text-muted">{{ post.subtitulo }}</h4>
              <p class="card-text">
                Postado por <strong>{{ post.autor }}</strong> em {{ post.data }}
              </p>
              <a href="{% url 'post' post.id %}" class="btn btn-primary">Leia mais →</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endblock %}
    </div>
    <br>
    <!-- Rodapé -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <div class="small text-center text-muted fst-italic">Copyright &copy; {{ blog.copyright }} 2025</div>
      </div>
    </footer>

    <!-- JS do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

