{% extends "blog/index.html" %}
{% load static %}
<!-- Post Content-->
    {% block content %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><img src="{{ post.imagem.url }}" /></p>
                        <p>{{post.titulo}}</p>
                        <p>{{post.subtitulo}}</p>
                        <p>{{ post.texto }}</p>
                    </div>
                </div>
            </div>
        </article>
    {% endblock %}